<div><a ui-sref=profile class="pull-right btn btn-primary btn-outline btn-rounded">Edit you profile</a>

    <h2>Find talent</h2>

    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Java" ng-model="talentquery"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
        </div>
    </div>


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12  col-lg-12">
                    <!--TODO: 這邊的query 為何無用-->
                    <div class="well profile " ng-repeat="user in users | filter:talentquery">
                        <div>
                            <h2>{{ user.name }}</h2>
                            <figure style="float:right">
                                <a ng-href="{{ user.authdata.facebook.cachedUserProfile.link }}" target="_blank">
                                    <img ng-src="{{'http://graph.facebook.com/' + user.authdata.facebook.id + '/picture?type=large'}}"
                                         class="img-circle img-responsive">
                                </a>
                            </figure>
                            <p><strong>About: </strong>{{ user.job }} </p>

                            <p><strong>Hobbies: </strong> {{ user.habits }}</p>

                            <p><strong>Skills: </strong>

                            <p ng-repeat="talentitem in user.talents"><span
                                    class="tags">{{ talentitem.talent}}</span> <span
                                    class=" badge">{{ talentitem.rating}}</span></p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>