<div><a ui-sref=profile ng-click="saveProfile()" ng-disabled="form.$invalid" class="pull-right btn btn-primary btn-outline btn-rounded">預覽檔案</a>


</div>
<div class="row">
    <div>
        <h2>自我介紹</h2>

        <p>介紹你的專長、讓大家更認識你</p>
        <form name="form" ng-submit="saveProfile()" novalidate>
            <div class="form-group">
                <label for="fullname">Your name (what other members will see)</label>
                <input ng-model="user.name" type="text" class="form-control" id="fullname" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="job">工作</label>
                <input ng-model="user.job" type="text" class="form-control" id="job" placeholder="Enter your job" required>
                <p class="help-block">For example: '正大聯合會計師事務所 稅務助理'</p>
            </div>
            <div class="form-group">
                <label for="description">興趣簡介</label> (用逗號隔開)
                <input ng-model="user.habits" type="text" class="form-control" id="description" placeholder="釣魚，跑步">
            </div>
            <div class="form-group">

                <label for="stories">才能介紹</label>
                <textarea ng-model="user.talents"  rows="6" class="form-control" id="stories" placeholder="鋼琴--小奏鳴曲彈完
程式語言--python--入門"></textarea>
                <p class="help-block">詳細介紹可以讓大家更認識你</p>
            </div>
            <!--<button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Save Profile</button>-->

        </form>
    </div>
</div>

