<div><a ui-sref=editprofile class="pull-right btn btn-primary btn-outline btn-rounded">編輯檔案</a>

    <h2>個人檔案
        <small>You can try to change the description of this guy!</small>
    </h2>

    <div class=jumbotron>
        <div class=container><h1>{{ user.name}}</h1>

            <p><strong>About:</strong> {{ user.job}}</p>
            <p><strong>Habit:</strong> {{ user.habits}}</p>
            <p><strong>Talents:</strong> {{ user.talents }}</p>

            <p><a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a></p></div>
    </div>
</div>
