<div><a ui-sref=editprofile class="pull-right btn btn-primary btn-outline btn-rounded">編輯檔案</a>

    <h2>個人檔案</h2>

    <div class=jumbotron>
        <div class=container><h1 class="text-center">{{ user.name}}</h1>

            <p class="h4">職業: {{ user.job}}</p>
            <p>Habit: {{ user.habits}}</p>
            <p>Talents:</p> <p ng-bind-html=" user.talents | nl2br"></p>

            <p><a href={{user.authdata.facebook.cachedUserProfile.link}} target="_blank" class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a></p></div>
    </div>
</div>
