<div><a ui-sref=editprofile class="pull-right btn btn-primary btn-outline btn-rounded">編輯檔案</a>
<div class="row">
    <h2><a href={{user.authdata.facebook.cachedUserProfile.link}}
           target="_blank" class="icon-facebook btn btn-primary btn-lg btn-outline btn-rounded"></a>個人檔案</h2>

    <div class=jumbotron>
        <div class=container><h1 class="text-center">{{ user.name}}</h1>

            <p><span class="btn btn-lg btn-info">職業</span> {{ user.job}}</p>
            <p><span class="btn btn-lg btn-info">Habit</span> {{ user.habits}}</p>
            <p><span class="btn btn-lg btn-info">Talents</span> <span ng-bind-html=" user.talents | nl2br"></span></p>

            <p></p></div></div>
    </div>
</div>
